:root {
  --text-color: #ffffff;
  --background: #3c96c9;
  --primary: #1b2129;
}

@font-face {
  font-family: "Titillium";
  src: url(TitilliumWeb-Regular.ttf);
}
body {
  margin: 3%;
  font-family: "Titillium";
}

body {
  margin: 3%;
}

h1 {
  font-size: 280%;
}

/* Header */

.header {
  height: 100vh;
}

.nav-bar {
  display: flex;
  column-gap: 1%;
  height: 9vh;
}

.logo {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-image {
  width: 12vh;
}

.menu {
  display: flex;
  align-items: center;
  width: 186vh;
  justify-content: center;
  column-gap: 10vh;
}

.presentation {
  display: flex;
  height: 85vh;
}

.presentation-text {
  width: 50%;
  text-align: left;
  margin-top: 10vh;
  margin-left: 10vh;
}

.presentation-image {
  display: flex;
  align-items: center;
  width: 100vh;
  justify-content: center;
}

.p-image {
  width: 15vw;
}

/* Services */

.squares {
  margin-bottom: 3vh;
  column-gap: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.square {
  border-radius: 2rem;
  height: 45vh;
  width: 26vw;
  background-color: #555;
}

/* Portfolio */

.recent-projects-title {
  text-align: center;
  margin-top: 10vh;
}

.small-square {
  border-radius: 2rem;
  height: 30vh;
  width: 14vw;
  background-color: #888888;
}

.smallest-square {
  border-radius: 2rem;
  height: 20vh;
  width: 10vw;
  background-color: #a0a0a0;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  column-gap: 2%;
}

/* Footer */

footer {
  margin-top: 10vh;
}

.footer-boxes {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.footer-box {
  display: flex;
  text-align: center;
  width: 15vw;
  height: 35vh;
  background-color: #a0a0a0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 5vw;
}
