body {
  margin: 3%;
}

h1 {
  font-size: 280%;
}
.header {
  height: 100vh;
}

.nav-bar {
  display: flex;
  column-gap: 1%;
  height: 9vh;
}

.logo {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-image {
  width: 12vh;
}

.menu {
  display: flex;
  align-items: center;
  width: 186vh;
  justify-content: center;
  column-gap: 10vh;
}

.presentation {
  display: flex;
  height: 81vh;
}

.presentation-text {
  width: 50%;
  text-align: left;
  margin-top: 10vh;
  margin-left: 10vh;
}

.presentation-image {
  display: flex;
  align-items: center;
  width: 100vh;
  justify-content: center;
}

.p-image {
  width: 15vw;
}
.squares {
  margin-bottom: 3vh;
  column-gap: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.square {
  border-radius: 2rem;
  height: 45vh;
  width: 26vw;
  background-color: #555;
}
